<%- include('../partials/head'); %>

<main class="container mx-auto pt-5 pb-7">
  <h1 class="text-3xl mb-3 font-bold underline">Blog-app:: WELCOME!!!</h1>
  <p class="text-lg">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident asperiores expedita explicabo animi eos! Voluptates, repudiandae. Enim praesentium reiciendis facilis.
  </p>
</main>

<%- include('../partials/foot'); %>
